<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Movie Collection</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/angular-route.min.js"></script> -->
  </head>
  <body>
    <div class="container header">
      <h1>Movie Collection</h1>
    </div>
    <!-- <div ng-view></div> -->

    <script type="text/javascript" src="scripts/client.min.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
